.signup{
    width: 100%;
    height: 100vh;
}

.column{
    height: 100vh;
}

.sign-heading{
    font-size: 100px;
    color:red;
}



.btn-SignUp{
    background-color: red;
    color: white;
    outline: none;
    border: none;

}

.sign-box{
border: 1px solid gray;
height: 350px;
width: 450px;
background-color: whitesmoke;
border-radius: 10px;
}