.about{
    width: 100% !important;
    height:100vh !important;
}

.about p{
      text-align: justify;
      text-justify: inter-word;
}

.about h1{
    border-bottom: 1px solid rgb(224, 67, 15); 
    padding: 5px;
}