.todo{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    position: relative;
   
}

.todo-inputs {
    border: none;
    outline: none;
}

.todo-inputs-div{
   
   border-radius: 10px;
   box-shadow: rgba(0 ,0 ,0, 0.35) 0px 5px 15px;
}

#textarea{
    display: none;
}

.todo-card{
    border: 1px solid black;
}

.cards-icons{
    font-size: 19px;
}
.del{
    color:red;
}

.card-icon-head{
    cursor: pointer;
    transition: all 0.3s;
}

.card-icon-head:hover{
    box-shadow: rgba(247, 157, 157, 0.874) 0px 5px 15px;
    
}

.todo-update{
    width: 100%;
    height:80vh;
    position: absolute;
    position: fixed;
    top: 80px;
    left:0px;
   
    display: none;
}

.update{
  height: 100%;
}